

.pelota{
    display: flex;
    justify-content: center;
    align-content: center;
}

.pared{
    height: 200px;
    width: 1000px;
    background-color: blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.puerta{
    height: 150px;
    width: 150px;
    background-color: violet;
    border: 1px solid black;
}

.piso{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.ladrillo{
    height: 600px;
    width: 1000px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
}

.ventana1{
    height: 150px;
    width: 150px;
    background-color: violet;
    border: 1px solid black;
    align-self: center;
}

.ventana2{
    height: 150px;
    width: 700px;
    background-color: violet;
    border: 1px solid black;
    align-self: center;
}
.ventana3{
    height: 400px;
    width: 150px;
    background-color: violet;
    border: 1px solid black;
    align-self: center;
}
.ventana4{
    height: 400px;
    width: 700px;
    background-color: violet;
    border: 1px solid black;
    align-self: center;
}