html{
    background-color: rgb(240, 228, 197);
}

h1{
    font-size: 2em;
    font-family: Helvetica, sans-serif; 
    text-align: center;
}

h3{
    font-size: 1em;
    font-family: Helvetica, sans-serif; 
    text-align: center;
}

ul {
    list-style: none;
    padding: 10%;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-content: center;

}

ul li{
    border: rgb(15, 15, 80) 3px solid;
    padding: 0.7em;
}
