html, body {
    height: 100%;
    width: 100%;
}

#contenido {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   align-content: center;
}

div.item{
    width:10%;
    height:10%;
    background:red;
    border: black 3px solid;
    justify-content: center;
    
}

